<!DOCTYPE html>

<html>
<head>
    <link href="~/scripts/stylesheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrapperOuter">
        <div id="wrapperInner">
            @RenderBody()
        </div>
    </div>
</body>
</html>
