@model RegisterViewModel

<h1>Register</h1>

<form asp-controller="Account" asp-action="Register">
    <table>
        <tr>
            <td>
                <label class="lable" asp-for="UserName"></label>
            </td>
            <td>
                <input asp-for="UserName" />
            </td>
        </tr>
        <tr><td><span asp-validation-for="UserName"></span></td></tr>
        <tr>
            <td>
                <label class="lable" asp-for="Password"></label>
            </td>
            <td><input type="password" asp-for="Password" /></td>
        </tr>
        <tr><td><span asp-validation-for="Password"></span></td></tr>
    </table>

        <input type="submit" value="register" />
</form>